<ion-item *ngIf="team" [routerLink]="'/team/' + team.id" [detail]="false">
  <ion-label class="ion-text-wrap">
    <h2>
      {{ team.name }}
    </h2>
    <p>
      Since: {{ team.founded }}
    </p>
  </ion-label>
  <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
</ion-item>


<!--
{
    "id": 758,
    "area": {
        "id": 2257,
        "name": "Uruguay"
    },
    "name": "Uruguay",
    "shortName": "Uruguay",
    "tla": "URU",
    "crestUrl": "https://crests.football-data.org/758.svg",
    "address": "Guayaybo 1531 Montevideo 11200",
    "phone": "+59 (82) 4004814",
    "website": "http://www.auf.org.uy",
    "email": "auf@auf.org.uy",
    "founded": 1900,
    "clubColors": "Sky Blue / White / Black",
    "venue": "Estadio Centenario",
    "lastUpdated": "2021-05-22T11:54:30Z"
}

-->
